asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
bson==0.5.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.1
cycler==0.10.0
Django==1.10.6
django-haystack==2.6.1
gevent==1.2.2
greenlet==0.4.12
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
jieba==0.39
lxml==4.1.1
Markdown==2.6.8
numpy==1.13.3
olefile==0.44
paramiko==2.3.1
parsel==1.2.0
pika==0.11.0
Pillow==4.2.1
pyasn1==0.3.7
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
Pygments==2.2.0
pymongo==3.6.0
PyMySQL==0.7.11
PyNaCl==1.1.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2016.10
queuelib==1.4.2
requests==2.18.4
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.1.11
svgwrite==1.1.11
tornado==4.5.2
Tree==0.2.3
urllib3==1.22
w3lib==1.18.0
Whoosh==2.7.4
zope.interface==4.4.3
